/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



/* Eventually this will be used as the base for styling */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000235;
  color: whitesmoke;
}


/* WipAlert.jsx */
.wipAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 1000px; */
  position: sticky;
  background-color: #ffbd42;
  /* font-family: Comic Neue; */
  /* font-family: Roboto; */
  font-family: Fira Mono;
  /* font-family: 'Lucida Sans Regular'; */
  /* font-weight: 100; */
  font-size: 0.5em;
  /* font-weight: 800; */
  /* padding: 10px; */
  /* gap: 20px; */
  text-align: center;
}

.wipAlert > h1 > span {
  font-style: italic;
  font-size: 0.85em; 
}

.wipAlertButton {
  padding: 8px 18px;
  /* margin: 50px 0px; */
  /* margin: 0px 50px; */
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;

  /* background-color: #000235; */
  /* color: #ffbc42; */
  border-color: white;
  background-color: #ff9000;
  color: white;
  font-weight: 600;
  font-family: Comic Neue;
  font-size: 1.8em;
}

.wipAlertButton:hover {
  background-color: #ff8000;
}

.wipAlertButton:active {
  background-color: #ff7000;
}




/* .wipAlert {
  display: flex;
  align-items: center;
  max-width: 1000px;
  position: sticky;
  background-color: ffbc42;
  visibility: hidden;
} */


/* NavBar.jsx */
/* nav {
  text-align: center;
  margin: 15px auto 0px auto;
  padding: 10px 0px;
}

nav > ul {
  display: inline-block;
}

nav > ul > li {
  font-family: Comic Neue;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}


nav > ul > li:first-child {
  font-weight: 800;
  color: #FFF;
  font-size: 28px;
  letter-spacing: 1px;
  margin-right: 15em;
} */

nav {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  font-family: Comic Neue;
  /* border-bottom: 1px solid #f2f2f2; */
}

nav > ul > li {
  display: inline-block;
  margin: 0 15px;
}

nav > ul {
  margin-left: auto;
}

nav > h1 {
  font-weight: 800;
  color: #FFF;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0px 0px 0px 25px;
  /* margin-right: 15em; */
}

.navname {
  text-decoration: none;
  color: #FFF;
}

.navlink {
  text-decoration: none;
  color: #FFF;
  text-decoration-color: none;
  padding: 5px 10px;
  /* opacity: 90%; */
}

.navlink:hover {
  /* color: turquoise; */
  /* border-style: solid; */
  outline: 4px solid #FFF;
  border-radius: 4px;
  color: #1B0E41;
  background-color: #FFF;
  font-weight: 800;
  /* background-color: rgba(255, 255, 255, 100%); */
}


/* Navbar rules for mobile screens */
/* .hamburger-icon {
  display: none; 
  cursor: pointer;
} */

/* Media query rules for navbar for anything too small to get the regular navbar */
/* @media screen and (max-width: 492px) {
  .hamburger-icon {
    display: block;
  }
} */

/* @media screen and (max-width: 897px) {
  nav > ul > li:first-child {
    margin-right: 5em;
  }
}

@media screen and (max-width: 897px) {
  nav > ul > li:first-child {
    margin-right: 5em;
  }
} */




/* HomeIntroCard.jsx */
.introcard > .name {
  /* padding: 0px; */
  margin: 15px 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 1.2em;
}

.introcard-text {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.introcard {
  /* padding: 50px; */
  padding: 50px 50px 0px 50px;
  width: 800px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid #6E6684;
  background: #1B0E41;
  margin: 50px auto;
  
  background-image: url("\\assets\\ReadyPlayerMe-Avatar_right_facing.png");
  background-position-x: 240%;
  background-position-y: 30%;
  background-size: 85%;
  background-repeat: no-repeat;
}

.introcard > ul > li {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 2em;
  display: inline-block;
}

.introcard-spaced {
  margin: 25px 0px 15px 0px;
}

/* AboutPage.jsx */
.aboutPage {
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}

/* BioCard.jsx */
.biocard {
  max-width: 600px;
  margin: auto;
  /* margin: 0px; */
  /* text-align: center; */
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.biocard-heading {
  font-size: 1.1em;
  font-family: Fira Mono;
  font-weight: 800;
  text-decoration: underline;
  margin: 0px auto 6px auto;
  /* padding: 10px auto 5x auto; */
}

.biocard-heading-1 {
  font-size: 1.1em;
  font-family: Fira Mono;
  font-weight: 800;
  /* text-decoration: underline; */
}

hr {
  width: 80%;
  /* margin: auto 3px; */
  margin: 0px auto 6px auto;
  /* padding: 0px 0px 3px 0px; */
}

/* BlogPage.jsx */
.blogPage {
  text-align: center;
}

/* ContactPage.jsx */
.contactPage {
  text-align: center;
}


/* Footer.jsx */
.footer {
  display: flex;
  justify-content: center;
  gap: 10vw;
  align-items: center;
}

.footer > p {
  max-width: 33vw;
  color: #6e658a;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}