/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



/* Eventually this will be used as the base for styling */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Roboto&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000235;
  color: whitesmoke;
}


/* WipAlert.jsx */
.wipAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: #ffbd42;
  font-family: Fira Mono;
  font-size: 0.5em;
  text-align: center;
}

.wipAlert > h1 > span {
  font-style: italic;
  font-size: 0.85em; 
}

.wipAlertButton {
  padding: 8px 18px;
  /* margin: 50px 0px; */
  /* margin: 0px 50px; */
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;

  /* background-color: #000235; */
  /* color: #ffbc42; */
  border-color: white;
  background-color: #ff9000;
  color: white;
  font-weight: 600;
  font-family: Comic Neue;
  font-size: 1.8em;
}

.wipAlertButton:hover {
  background-color: #ff8000;
}

.wipAlertButton:active {
  background-color: #ff7000;
}




/* .wipAlert {
  display: flex;
  align-items: center;
  max-width: 1000px;
  position: sticky;
  background-color: ffbc42;
  visibility: hidden;
} */


/* NavBar.jsx */
/* nav {
  text-align: center;
  margin: 15px auto 0px auto;
  padding: 10px 0px;
}

nav > ul {
  display: inline-block;
}

nav > ul > li {
  font-family: Comic Neue;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}


nav > ul > li:first-child {
  font-weight: 800;
  color: #FFF;
  font-size: 28px;
  letter-spacing: 1px;
  margin-right: 15em;
} */

nav {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0px 0px 0px 0px;
  font-family: Comic Neue;
  /* border-bottom: 1px solid #f2f2f2; */
}

nav > ul > li {
  display: inline-block;
  margin: 0 15px;
}

nav > ul {
  margin-left: auto;
}

nav > h1 {
  font-weight: 800;
  color: #FFF;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0px 0px 0px 25px;
  /* margin-right: 15em; */
}

.navname {
  text-decoration: none;
  color: #FFF;
}

.navlink {
  text-decoration: none;
  color: #FFF;
  text-decoration-color: none;
  padding: 5px 10px;
  /* opacity: 90%; */
}

.navlink:hover {
  /* color: turquoise; */
  /* border-style: solid; */
  outline: 4px solid #FFF;
  border-radius: 4px;
  color: #1B0E41;
  background-color: #FFF;
  font-weight: 800;
  /* background-color: rgba(255, 255, 255, 100%); */
}


/* Navbar rules for mobile screens */
/* .hamburger-icon {
  display: none; 
  cursor: pointer;
} */

/* Media query rules for navbar for anything too small to get the regular navbar */
/* @media screen and (max-width: 492px) {
  .hamburger-icon {
    display: block;
  }
} */

/* @media screen and (max-width: 897px) {
  nav > ul > li:first-child {
    margin-right: 5em;
  }
}

@media screen and (max-width: 897px) {
  nav > ul > li:first-child {
    margin-right: 5em;
  }
} */




/* HomeIntroCard.jsx */
.introcard > .name {
  /* padding: 0px; */
  margin: 15px 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 1.2em;
}

.introcard-text {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.introcard {
  /* padding: 50px; */
  padding: 50px 50px 0px 50px;
  width: 800px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid #6E6684;
  background: #1B0E41;
  margin: 50px auto 25px;
  
  background-image: url("\\assets\\ReadyPlayerMe-Avatar_right_facing.png");
  background-position-x: 240%;
  background-position-y: 30%;
  background-size: 85%;
  background-repeat: no-repeat;
}

.introcard > ul > li {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 2em;
  display: inline-block;
}

.introcard-spaced {
  margin: 25px 0px 15px 0px;
}

/* AboutPage.jsx */
.aboutPage {
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}

/* BioCard.jsx */
.biocard {
  max-width: 600px;
  margin: auto;
  /* margin: 0px; */
  /* text-align: center; */
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.biocard-section-spacing {
  margin-bottom: 80px;
}

/* .biocard-heading {
  font-size: 1.1em;
  font-family: Fira Mono;
  font-weight: 800;
  text-decoration: underline;
  margin: 0px auto 6px auto;
} */

.biocard-heading {
  font-size: 1.1em;
  font-family: Fira Mono;
  font-weight: 800;
  /* text-decoration: underline; */
}

.biocard-careerPage-note {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 1000px; */
  position: sticky;
  /* background-color: #ff31a2; */
  background-color: #6c0359;
  padding: 20px 50px;
  margin: 10px 70px;
  /* border: 1px solid transparent; */
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  /* padding: 100px; */
  /* margin: 50px; */
  /* background-image:radial-gradient(#ff1495, #000235); */
  /* opacity: 90%; */
  /* background-op */
  /* font-family: Comic Neue; */
  /* font-family: Roboto; */
  font-family: Fira Mono;
  /* font-family: ; */
  /* font-family: 'Lucida Sans Regular'; */
  font-weight: 800;
  letter-spacing: -1px;
  /* font-weight: 100; */
  font-size: 1em;
  /* font-weight: 800; */
  /* padding: 10px; */
  /* gap: 20px; */
  text-align: center;
}

.biocard-careerPageButton {
  padding: 8px 18px;
  /* margin: 50px 0px; */
  /* margin: 0px 50px; */
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;

  /* background-color: #000235; */
  /* color: #ffbc42; */
  border-color: white;
  /* background-color: #ff008c; */
  background-color: #6c0359;
  color: white;
  font-weight: 600;
  font-family: Comic Neue;
  font-size: 1.8em;
}

.biocard-careerPageButton:hover {
  background-color: #ff8000;
}

.biocard-careerPageButton:active {
  background-color: #ff7000;
}

hr {
  width: 80%;
  /* margin: auto 3px; */
  margin: 0px auto 6px auto;
}

/* BlogPage.jsx */
.blogPage {
  text-align: center;
}

/* CareerPage.jsx */
.careerpage {
  text-align: center;
  max-width: 600px;
  margin: auto;
  font-family: Comic Neue;
}

.careerpage-section-spacing {
  margin-bottom: 35px;
  margin-top: 35px;
}

/* .biocard-heading {
  font-size: 1.1em;
  font-family: Fira Mono;
  font-weight: 800;
  text-decoration: underline;
  margin: 0px auto 6px auto;
} */

.careerpage-heading-1 {
  font-size: 1.6em;
  /* font-weight: 800; */
  font-family: Comic Neue;
  margin: 0px 0px 4px 0px;
}


.careerpage-heading-2 {
  font-size: 1.2em;
  font-family: Fira Mono;
  font-weight: 800;
  /* line-height: 1.2em; */
}

.careerpage-heading-3 {
  font-size: 1em;
  font-family: Fira Mono;
  font-weight: 800;
  /* color: #928f99; */
  color: #adaab5;  
  margin-top: 6px;
  padding-top: 8px;
}

.careerpage-heading-4 {
  font-size: 0.7em;
  /* font-family: Fira Mono; */
  font-family: Comic Neue;
  font-weight: 800;
  /* color: #928f99; */
  color: #adaab5;  
  margin-top: 6px;
  padding-top: 8px;
}

/* Skill.jsx */
.skill {
  display: inline-block;
  background-color: #33355d;
  color: #ff7000;
  padding: 6px 8px;
  border-radius: 10px;
  font-size: 0.9em;
  margin: 10px;
  font-family: Fira Mono;
}

.skill:hover {
  background-color: #4d4e72;
}

/* Progress Bar - WIP*/
/* 
.progressBar {
  width: 75%;
  height: 35px;
  background-color: #FFF;
} */

/* .progressBar::-webkit-progress-bar {
  background-color: #000;
  border-radius: 50px;
  width: 75%;
  height: 35px;
} */

.job {
  text-align: left;
  margin: 15px 0px;
}

.job-intro {
  font-size: 1em;
  font-family: Comic Neue;
  font-weight: 800;
  color: #adaab5;
}

.job-desc {
  text-align: left;
  margin-left: 7%;
}

@media screen and (max-width: 600px) {

  .project-holder {
    flex-wrap: wrap;
  }

  .careerpage {
    padding: 0px 10px;
  }
}

.project-holder {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  margin: 10px;
}

.project-text-section {
  flex: 67%;
  padding-left: 20px;
  text-align: left;
}

.project-img-holder {
  flex: 33%;
  /* max-height: 120px; */
}

.project-img {
  max-height: 120px;
  border-radius: 6px;
  /* border: #6c0359 2px solid; */
}

/* ContactPage.jsx */
.contactPage {
  text-align: center;
}


/* Footer.jsx */
.footer {
  display: flex;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  margin: 20px;
}

.footer > p {
  max-width: 33vw;
  color: #6e658a;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-link:hover {
  color: #dcd0ff;
}

.footer-link:active {
  color: #FFF;
}

.recentUpdates {
  margin: auto;
  width: 50%;
  max-width: 700px;
}

.recentUpdates-items {
  list-style-type: none;
}

.recentUpdates-items-date {
  font-family: Fira Mono;

  font-size: 1.1em;
  font-weight: 800;
  list-style-type: none;
}

.recentUpdates-items-event {
  font-family: Comic Neue;
  font-weight: bold;
  color: #a5a5a5;

  list-style-position: inside;
  list-style-type: none;
  font-size: 0.95em;
}

.resume-holder {
  /* padding: auto; */
  /* margin: auto; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 1000px; */
  /* align-self: center; */
  /* margin: 35px 0px; */
  /* display: flex; */
  /* justify-content: center; */
  /* margin: auto; */

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 50vw; */

}

/* .resume { */
  /* width: 50%; */
  /* min-width: 600px; */
  /* height: 150vh; */
  /* max-width: 850px; */

/* } */

/* DEV FONTS */
.comicNeue {
  font-family: Comic Neue;
}

.firaMono {
  font-family: Fira Mono;
}

/* 
.testingcard > .name {
  margin: 15px 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 1.2em;
  z-index: 1;
}

.testingcard-text {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

.testingcard-textholder > ul > li {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 2em;
  display: inline-block;
  z-index: 1;
}

.testingcard-spaced {
  margin: 25px 0px 15px 0px;
}

.avatar-holder {
  width: 200px;
  height: 200px;
}*/



.testingcard {
  width: 800px;
  height: 480px;
  border-radius: 15px;
  border: 2px solid #6E6684;
  background: #1B0E41;
  margin: 50px auto 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.testingcard-textholder-text {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testingcard-textholder-spaced {
  margin: 25px 0px 15px 0px; 
}

.testingcard-textholder > ul > li {
  color: #FFF;
  font-family: Fira Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 2em;
  display: inline-block;
  /* z-index: 1; */
}

.testingcard-textholder > .name {
  margin: 15px 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 1.2em;
}

.testingcard-textholder {
  padding: 50px 50px 0px 50px;
  /* z-index: 16777272; */
  /* z-index: 2; */
}

.testingcard-avatarholder {
  position: absolute;
  top: 0;
  left: 300px;
  width: 600px;
  height: inherit;
  z-index: -1;
}


/* .testingcard {
  width: 800px;
  height: 480px;
  border-radius: 15px;
  border: 2px solid #6E6684;
  background: #1B0E41;
  margin: 50px auto 25px;
  position: relative;
}

.testingcard-avatarholder {
  top: 0;
  left: 0;
  width: 1200px;
  height: inherit;
  z-index: 0;
} */